* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden !important;
  // padding: 5%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
  margin: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none !important;
  padding: 0;
}

/** Hide input[type=number] arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

// .leaflet-layer,
// .leaflet-control-zoom-in,
// .leaflet-control-zoom-out,
// .leaflet-control-attribution {
//   filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
// }

.leaflet-control-attribution,
.leaflet-control {
  display: none;
}