@font-face {
  font-family: "TT-Interphases-Light";
  font-weight: 300;
  src: url("../fonts/TT-Interphases-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TT-Interphases-Regular";
  font-weight: 400;
  src: url("../fonts/TT-Interphases-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TT-Interphases-Medium";
  font-weight: 500;
  src: url("../fonts/TT-Interphases-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TT-Interphases-SemiBold";
  font-weight: 600;
  src: url("../fonts/TT-Interphases-DemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TT-Interphases-Bold";
  font-weight: 700;
  src: url("../fonts/TT-Interphases-Bold.woff2") format("woff2");
  font-display: swap;
}