:root {
  /** React toastify */
  --toastify-color-error: #ec3342;
  --toastify-color-success: #2ac769;
  --toastify-color-info: #419cd4;

  /** Colors */
  --color-base-1: #ffffff;
  --color-base-2: #f3f3f5;
  --color-base-3: #d4d6db;
  --color-base-4: #caccd1;
  --color-base-5: #bfc1c7;
  --color-base-6: #a5a7ad;
  --color-base-7: #82848a;
  --color-base-8: #52575c;

  --text-color-primary: #25282b;
  --text-color-secondary: #9496ac;
  --text-color-disabled: #caccd0;

  --color-primary: #009ff7;
  --color-primary-light: #b9e6ff;
  --color-primary-dark: #1a91db;
  --color-secondary: #ceeafb;
  --color-secondary-light: #e9f7ff;
  --color-secondary-dark: #b9e2fb;
  --color-error: #ff6262;
  --color-error-dark: #ff4747;
  --color-success: #2ac769;
  --color-success-light: #89e6ae;
  --color-success-dark: #24a859;
  --color-warning: #f6a609;
  --color-warning-light: #face75;
  --color-warning-dark: #d99308;

  /** Sizes */
  --base: 4px;
  --base-2: calc(var(--base) * 2);
  --base-3: calc(var(--base) * 3);
  --base-4: calc(var(--base) * 4);
  --base-5: calc(var(--base) * 5);
  --base-6: calc(var(--base) * 6);
  --base-7: calc(var(--base) * 7);
  --base-8: calc(var(--base) * 8);
  --base-9: calc(var(--base) * 9);
  --base-10: calc(var(--base) * 10);
  --base-11: calc(var(--base) * 11);
  --base-12: calc(var(--base) * 12);

  /** Font */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;

  --line-height-xs: 18px;
  --line-height-sm: 20px;
  --line-height-md: 22px;
  --line-height-lg: 24px;
  --line-height-xl: 26px;

  /** Transitions */
  --transition-duration: 0.25s;

  /** Border variables */
  --border-radius-base: 4px;
  --border-base-width: 1px;

  /** z-index variables. */
  --zindex-notification: 100;
  --zindex-modal: 50;
  --zindex-popover: 10;
}
